body {
    line-height: 1.4;
    padding: 100px;
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 80px;
}

#highscores {
    align-items: flex-start;
    text-decoration: none;
}

#timer {
    align-items: flex-end;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h2 {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

button {
    background-color: rgb(153, 115, 189);
    color: white;
    font-size: 25px;
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(190, 170, 209);
    cursor: pointer;
}

#question button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.initials-form {
    display: flex;
    align-items: center;
}

#initials {
    height: 26px;
    margin: 0 5px;
}

#question {
    display: none;
}

#correct,
#wrong {
    display: none;
    border-top: solid rgb(175, 175, 175);
    color: rgb(175, 175, 175);
    font-size: 30px;
    margin-top: 20px;
    font-style: italic;
}

#all-done {
    display: none;
}

#highscores-page {
    align-items: flex-start;
}

#initials-list {
    list-style: auto;
    padding-left: 25px;
    background-color: rgb(217, 208, 225);
    width: 85%;
    margin: 20px 0 20px;
}